/otherProjs/asics/node_modules/
/otherProjs/asics/output/
otherProjs/asics/package.json
otherProjs/asics/package-lock.json
*.class
.vscode/settings.json
otherProjs/asics/Main.java
otherProjs/asics/Main.java
output/258/2020/01/22/10/18/test-ParseStatus.43.304..json
otherProjs/asics/Main.java
otherProjs/asics/.idea/modules.xml
otherProjs/asics/.idea/asics.iml
otherProjs/asics/.idea/workspace.xml
otherProjs/asics/Main.java
